body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  font-family: "Pixelated MS Sans Serif", Arial;
}

.window {
  position: absolute;
  resize: both;
}

.window .title-bar,
button,
#time-display {
  user-select: none;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008080;
}

#start {
  height: 27px;
  min-width: 0;
  padding: 0 8px 0 8px;
}

#taskbar {
  padding: 3px;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  display: flex;
  background-color: #c0c0c0;
  font-size: 11px;
  z-index: 2147483647;
  box-shadow: inset 0 1px #ffffff;
}

.vertical-rule {
  width: 2px;
  height: 26px;
  background-color: #fff;
  box-shadow: inset 1px 0 #808080;
  margin: 1px 2px 0 2px;
}

.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

#time-display {
  line-height: 28px;
  height: 27px;
  min-width: 51px;
  padding-left: 4px;
  padding-right: 8px;
  margin-right: 2px;
  right: 7px;
  top: 4px;
  position: absolute;
  vertical-align: middle;
}

#time-display img {
  margin-right: 2px;
  margin-top: 2px;
  vertical-align: middle;
}

#desktop-apps {
  position: absolute;
  top: 0;
  left: 0;
}

.active-tasks {
  width: calc(100% - 166px);
}

#desktop-apps {
  width: 100%;
  height: calc(100% - 38px);
  overflow: hidden;
}

#desktop-apps {
  display: flex;
  flex-direction: column;
}

.desktop-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  user-select: none;
}

.desktop-app > img {
  width: 64px;
  height: 64px;
  margin-bottom: 4px;
  margin-top: 8px;
  -webkit-user-drag: none;
}

.desktop-app:active {
  background-color: #0000801f;
}

.active-tasks {
  display: flex;
  flex-direction: row;
  height: 32px;
  overflow: hidden;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 3px 4px 0 0;
  padding: 0 10px 0 4px;
  width: auto;
  max-width: 200px;
  height: 27px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.task > img {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  -webkit-user-drag: none;
}

.task > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
