body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

.window {
    position: absolute;
}

.window .title-bar {
    user-select: none;
}

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/clouds.jpg");
    background-size: cover;
    background-position: center;
}

#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    display: flex;
}

.vertical-rule {
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}